<nav
    class="w-full border-b bg-zinc-900 sticky z-30"
    id="page-header"
    transition:persist
    style="view-transition-name: header;"
>
  <div
      class="w-full container mx-auto max-w-screen-lg px-6 lg:px-0 flex flex-wrap items-center justify-center mt-0 py-6"
  >
    <div>
      <a
          class="flex items-center tracking-tight no-underline hover:no-underline focus-visible:ring-2 focus:outline-none focus:ring-black font-bold text-black text-xl"
          href="/"
      >
        <img
            class="card-image rounded-md relative z-10"
            src="/spanish-djs-rec.jpg"
            alt="Spanish Djs"
            title="Spanish Djs"
            aria-hidden="true"
            width="400"
            height="400"
        />
      </a>
    </div>
  </div>
</nav>
